<header>
  <div class="header-inner">

    <!-- Left: Title -->
    <div class="logo-area">
      <div class="logo-flex">
        <img src="/images/Vandra_Inc.png" alt="Trainer Sprite" class="sprite-logo">
    
        <div class="text-block">
          <!-- <h1 class="site-title">Vandra</h1> -->
          <p class="site-subtitle">Creative Scouting ideas and reflections from my journey.</p>
        </div>
      </div>
    </div>

    <!-- Right: Navigation + Icons -->
    <nav class="nav-row">

      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>

      <div class="dropdown">
        <a class="dropbtn" href="/activities.html">Activities ▾</a>
        <div class="dropdown-content">
          {% assign all_categories = site.activity | map: "categories" | uniq | sort %}
          {% for group in all_categories %}
            {% for cat in group %}
              <a href="/activities.html?category={{ cat | url_encode }}">{{ cat }}</a>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="dropdown">
        <a class="dropbtn" href="/blogs.html">Blogs ▾</a>
        <div class="dropdown-content">
          {% for post in site.posts limit:5 %}
            <a href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div>

      <a href="/contact.html">Contact</a>

      <!-- Google Translate -->
      <!-- <div class="dropdown translate-dropdown">
        <a class="dropbtn">
          <img src="/images/translate.png" class="icon-img" alt="Translate">
        </a>
      
        <div class="dropdown-content">
          <a href="#" data-lang="en">English</a>
          <a href="#" data-lang="fr">Français</a>
          <a href="#" data-lang="es">Español</a>
          <a href="#" data-lang="de">Deutsch</a>
        </div>
      </div> -->

      <!-- Social Icons -->
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/drew-sang/" target="_blank">
          <img src="/images/linkedin.png" class="icon-img" alt="LinkedIn">
        </a>
        <a href="https://www.facebook.com/drew.sangster.376/" target="_blank">
          <img src="/images/facebook.png" class="icon-img" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/drewster.01/" target="_blank">
          <img src="/images/instagram.png" class="icon-img" alt="Instagram">
        </a>
        <div class="search-wrapper">
          <form class="search-expand" action="/search.html" method="get">
            <button type="submit" class="search-icon" aria-label="Search">
              <img src="/images/search.png" class="search-img" alt="Search">
            </button>
            <input type="text" name="q" placeholder="Search…" />
          </form>
        </div>
      </div>

      <!-- Search -->

    </nav>
  </div>
</header>
